@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Roman.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr-Light";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"),
    url("../fonts/HelveticaNeueCyr-Light.otf");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src: url("../fonts/HelveticaNeueCyr-Bold.eot");
    src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"),
url("../fonts/HelveticaNeueCyr-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../fonts/roboto-medium.eot');
    src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium.woff') format('woff'), url('../fonts/roboto-medium.ttf') format('truetype'), url('../fonts/roboto-medium.svg#Roboto-Medium') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MMuseoCyrl-500";
    src:    url("../fonts/MuseoCyrl-500.eot");
    src:    url("../fonts/MuseoCyrl-500.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoCyrl-500.woff2") format("woff"),
    url("../fonts/Museo-Cyrl-500.ttf") format("truetype"),
    url("../fonts/MuseoCyrl-500.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoCyrl-700";
    src:    url("../fonts/MuseoCyrl-700.eot");
    src:    url("../fonts/MuseoCyrl-700.eot?#iefix")format("embedded-opentype"),
            url("../fonts/MuseoCyrl-700.woff2") format("woff"),
            url("../fonts/Museo-Cyrl-700.ttf") format("truetype"),
            url("../fonts/MuseoCyrl-700.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoCyrl-300";
    src:    url("../fonts/MuseoCyrl-300.eot");
    src:    url("../fonts/MuseoCyrl-300.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoCyrl-300.woff2") format("woff"),
    url("../fonts/MuseoCyrl-300.ttf") format("truetype"),
    url("../fonts/MuseoCyrl-300.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}