{% extends "layouts/app.twig" %}

{% block content %}
    <div class="content">

        <div class="first-screen p-rel">

            <div class="container ">
            <div class="first-screen-content">
                <h1 class="page-title mb100 ttu  white tac fz53">Прибыльный интернет-бизнес <br>
                    за 27 дней под ключ</h1>
                    <div class="wrapper">
                        <div class="first-screen-bullets fl-grid-b mb70">
                            <div class="first-screen-bullets__item">
                                <i class="search-icon  mb20"></i>
                                <p class="page-title fz16 ttu white ffHel-r">подберем нишу</p>
                            </div>
                            <div class="first-screen-bullets__item">
                                <i class="funnel-icon  mb20"></i>
                                <p class="page-title fz16 ttu white ffHel-r">приведем клиентов</p>
                            </div>
                            <div class="first-screen-bullets__item">
                                <i class="sale-icon  mb20"></i>
                                <p class="page-title fz16 ttu white ffHel-r">доведем до продаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="fl-center">
                        <div class="first-screen-buttons fl-center clearfix">
                            <p class="left mr25"><a href="#" class="empty_btn tdn no-hover">Узнать подробнее</a></p>
                            <p class="right tac"><a href="#" class="red_btn tdn no-hover popup-trigger proj">Заказать проект <i class="r-arrow-icon ml20"></i></a></p>
                        </div>
                    </div>
            </div>
            </div>
            <a href="#advantages" class="js-scrollScreen w-circle"></a>

        </div>
        <div class="advantages" id="advantages">
            {#<a name="advantages"></a>#}
            <div class="container">
                <div class="advantages-list">
                    <div class="advantages-item">
                        <p class="advantages-text mb5 fz36">7 лет</p>
                        <p class="advantages-text fz18 ffMcyr300">на рынке</p>
                    </div>
                    <div class="advantages-item">
                        <p class="advantages-text mb5 fz36">928</p>
                        <p class="advantages-text fz18 ffMcyr300">успешных клиентов</p>
                    </div>
                    <div class="advantages-item">
                        <p class="advantages-text mb5 fz24 ">Новые технологии</p>
                        <p class="advantages-text fz18 ffMcyr300">проверенные на своем опыте</p>
                    </div>
                    <div class="advantages-item">
                        <p class="advantages-text mb5 fz24 ">Договор</p>
                        <p class="advantages-text fz18 ffMcyr300">с юридическим лицом</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="you-get">
            <div class="container">
                <div class="b-page-title mb50 tac">
                    <p class="page-title ttu black mb30 fz46">Что Вы получаете?</p>
                    <p class="title-lev2 fz18">У Вас будет готовая система, которая будет приносить Вам деньги.</p>
                    <p class="title-lev2 fz18">Мы сделаем Ваш бизнес с нуля за 4 этапа:</p>
                </div>
                <div class="clearfix">
                    <div class="you-get-list line">
                        <div class="b-you-get clearfix">
                            <div class="b-you-get__inner">
                                <div class="b-you-get__header mb35  p-rel">
                                    <div class="b-you-get__header__icon dib vam"><i class="target-icon"></i></div>
                                    <div class="b-you-get__header__title black fz18 dib vam">

                                        <div class="b-you-get__number mr20 dib vam">1</div>

                                        <p class="dib vam fw700">ПОДБОР НИШИ И ДОГОВОР <br>
                                            С ПОСТАВЩИКАМИ</p>
                                    </div>
                                </div>
                                <div class="b-base-text black">
                                    <p>
                                        <span class="ffMcyr700">Нет идей для бизнеса? Или нужно перевести свой бизнес в интернет?</span>
                                        Мы решим для Вас эти задачи под ключ. Наши эксперты с 7-летним опытом работы
                                        создания
                                        бизнеса подберут Вам ниши на выбор, которые приносят деньги, или проанализируют
                                        Вашу
                                        нишу.
                                    </p>
                                    <p>Анализ ниш будет подкреплен отчетом с показателями по: сезонности, прибыльности,
                                        охвату
                                        аудитории клиентов, деятельности конкурентов, наличию поставщиков и многих
                                        других.</p>
                                    <p>Также мы найдем поставщиков с наилучшими условиями сотрудничества, например, по
                                        схеме
                                        дропшиппинга и с лучшими ценами на рынке. Мы с ними договоримся, Вам останется
                                        только
                                        подписать договор о сотрудничестве.</p>
                                </div>
                            </div>
                        </div>
                        <div class="b-you-get clearfix">
                            <div class="b-you-get__inner">
                                <div class="b-you-get__header mb35  p-rel">
                                    <div class="b-you-get__header__icon dib vam"><i class="shop-icon"></i></div>
                                    <div class="b-you-get__header__title black fz18 dib vam">

                                        <div class="b-you-get__number mr20 dib vam">2</div>

                                        <p class="dib vam fw700">ИНТЕРНЕТ-МАГАЗИН <br>
                                            С ТОВАРАМИ + SEO</p>
                                    </div>
                                </div>
                                <div class="b-base-text black">
                                    <p>Вы получите <span class="ffMcyr700">продающий сайт с красивым дизайном и современной начинкой</span>.
                                        Мы подберем ассортимент товаров и наполним ими сайт. Напишем уникальные
                                        продающие
                                        тексты, разработаем несколько вариантов дизайна на выбор и сделаем базовую SEO
                                        оптимизацию.</p>
                                    <p>Сайт может быть как многостраничным магазином с большим ассортиментом, так и
                                        лендингом
                                        (одностраничный сайт) с парой товаров. Мы подберем наилучший вариант для
                                        Вас.</p>
                                    <p>С технической точки зрения сайт будет работать быстро и удобно для клиента.
                                        Обычно мы
                                        используем платформy OpenCart. Но при необходимости сделаем и на 1C-Bitrix c
                                        синхронизацией товаров и цен на сайте с поставщиком или любой другой
                                        платформе.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line you-get-list">
                        <div class="b-you-get clearfix">
                            <div class="b-you-get__inner">
                                <div class="b-you-get__header mb35  p-rel">
                                    <div class="b-you-get__header__icon dib vam"><i class="profit-icon"></i></div>
                                    <div class="b-you-get__header__title black fz18 dib vam">

                                        <div class="b-you-get__number mr20 dib vam">3</div>

                                        <p class="dib vam fw700">РЕКЛАМА С ГАРАНТИЕЙ <br>
                                            РЕЗУЛЬТАТОВ</p>
                                    </div>
                                </div>
                                <div class="b-base-text black">
                                    <p>
                                        <span class="ffMcyr700">Настроим и протестируем контекстную рекламу в Яндексе и Google</span>,
                                        которая гарантированно, по договору, будет приводить клиентов. Которые будут
                                        делать
                                        покупки, а не просто искать информацию.</p>
                                    <p>Также мы разработаем последовательность запуска рекламных инструментов, таких,
                                        как
                                        Avito,
                                        Instagram, MyTarget, Youtube, Вконтекте, Facebook и другие. Затем предоставим
                                        обоснование, почему именно такой запуск максимально эффективен для выбранной
                                        Вами
                                        ниши.
                                    </p>
                                    <p>В итоге Вы получите проработанную на основе нашего опыта, тестов и численных
                                        показателей
                                        маркетинговую стратегию, которая позволит каждый месяц <span class="ffMcyr700">увеличивать поток клиентов и прибыль от бизнеса</span>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="b-you-get clearfix">
                            <div class="b-you-get__inner">
                                <div class="b-you-get__header mb35  p-rel">
                                    <div class="b-you-get__header__icon dib vam"><i class="support-icon"></i></div>
                                    <div class="b-you-get__header__title black fz18 dib vam">

                                        <div class="b-you-get__number mr20 dib vam">4</div>

                                        <p class="dib vam fw700">ОБУЧЕНИЕ И ПОЖИЗНЕННАЯ <br>
                                            ПОДДЕРЖКА</p>
                                    </div>
                                </div>
                                <div class="b-base-text black">
                                    <p>Мы <span class="fw700">научим</span> Вас <span class="ffMcyr700">разбираться в тонкостях бизнеса</span>,
                                        управлять сайтом, настраивать рекламу, искать фрилансеров и работать с ними. Мы
                                        дадим
                                        Вам доступ ко Всем нашим <span class="ffMcyr700">закрытым видеоурокам</span> и
                                        файлам.
                                    </p>
                                    <p>А также у Вас будет <span
                                                class="ffMcyr700">1 месяца поддержки с личным менеджером</span>
                                        после сдачи проекта, что позволит Вам не оставаться один на один со своим
                                        бизнесом,
                                        а
                                        пользоваться помощью профессионалов.</p>
                                    <p>А также Вы можете посещать наши семинары и встречи как в офлайне, так и в онлайне
                                        на
                                        тему
                                        бизнеса и увеличения продаж в нем.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="commercial-proposal tac db">
            <a class="commercial-proposal__link tdn no-hover" href="#">
                <p class="label fz18 dib vam mr20 white td-u">Скачать коммерческое предложение</p>
                <i class="pdf-icon"></i>
            </a>
        </div>
        <div class="calculation-of-income" >
            <a id="cost-of"></a>
            <div class="container">
            <div class="b-page-title white mb50 tac">
                <p class="page-title ttu white mb20 fz46">Расчёт <br>
                    дохода бизнеса</p>
                <p class="title-lev2 white fz22">Выберите из 44 доступных ниш или предложите свою!</p>
            </div>
            <div class="b-calculation-of-income">

                <form action="" class="calculation-of-income__form p-rel">
                    <div class="calculation__inner">
                        <div class="calculation-of-income__form__col mb35">
                            <div class="b-calculation-of-income__form">
                                <label for="" class="income-form-label  mb20 db">Выберите желаемую нишу</label>
                                <input class="income-form-input" type="text" placeholder="Велосипеды">
                            </div>
                        </div>
                        <div class="calculation-of-income__form__col mb35">
                            <div class="b-calculation-of-income__form">
                                <p class="income-form-label mb20 db">Бюджет на проект</p>
                                <div id="slider-range"></div>
                            </div>
                        </div>
                    </div>
                    <div class="calculation__inner mb37">
                        <div class="calculation-of-income__form__col">
                            <div class="b-calculation-of-income__form">
                                <label for="" class="income-form-label mb20  db">Ваш город</label>
                                <input class="income-form-input" type="text" placeholder="Москва">
                            </div>
                        </div>
                        <div class="calculation-of-income__form__col">
                            <div class="b-calculation-of-income__form">
                                <label for="" class="income-form-label mb20  db">Номер телефона</label>
                                <input class="income-form-input inputmask-phone" type="text" placeholder="+7 (___) ___-__-__">
                            </div>
                        </div>
                    </div>
                    <div class="tac">
                        <button href="#" class="calc_btn">Рассчитать стоимость <i class="r-arrow-icon vam ml10"></i>
                        </button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <!-- BEGIN b-main-slider-wrapper -->
        <div class="our-projects">
            <a id="our-projects"></a>
            <div class="b-page-title white  tac">
                <p class="page-title ttu white mb20 black fz46" >Наши успешные проекты</p>
                <p class="title-lev2 lighter-grey fz22">Все бизнес-проекты приносят более 50 тыс. руб в
                    месяц</p>
            </div>
            <div class='b-content-wrap container'>
                <div class="b-main-slider pb40 our-projects__main-slider owl-carousel">
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/new-balanses.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b pl24">
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz14 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Время проекта 25 дней
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Создали
                                                        интернет-магазин <br> на платформе Open
                                                        Cart
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Настроили Яндекс
                                                        директ
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Сделали CEO оптимизацию
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Конверсия сайта: 3,7%
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Цена заявки: 100-400
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Заявок с сайта: 20-40 в
                                                        день.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход с одной продажи 1
                                                        000 р.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">New Balances</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">Продажа кроссовок</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">www.newbalances.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb45">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">Клиент обратился с задачей перенести бизнес из офлайна в онлайн, цель -
                                                создание полноценного интернет-магазина. До работы с нами: Среднее
                                                количество продаж в день 10 Оборот в день 35 000 рублей</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b pl24">
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz14 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Время проекта 25 дней
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Создали
                                                        интернет-магазин <br> на платформе Open
                                                        Cart
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Настроили Яндекс
                                                        директ
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Сделали CEO оптимизацию
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Конверсия сайта: 3,7%
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Цена заявки: 100-400
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Заявок с сайта: 20-40 в
                                                        день.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход с одной продажи 1
                                                        000 р.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/glasses.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Время проекта 30 дней
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">был разработан и наполнен сайт, также проведены необходимые работы по поисковой оптимизации
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">20 -30 заказов в неделю по SEO-трафику и директу
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход 130 000 в месяц
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Работа по дропшиппингу (без вложений, офиса, сотрудников и склада)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">Очки Polaroid</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">Продажа очков по Москве и МО</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">polaroid-glasses.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb45">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">Клиент работает сотрудником банка. Хотел себе дополнительный источник дохода. Выбирали нишу долго, в итоге выбрали очки Polaroid, потому как там удобная система дропшиппинга. Клиент не хотел бросать работу и рассматривал сайт как источник дополнительного заработка.</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Время проекта 30 дней
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">был разработан и наполнен сайт, также проведены необходимые работы по поисковой оптимизации
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">20 -30 заказов в неделю по SEO-трафику и директу
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход 130 000 в месяц
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Работа по дропшиппингу (без вложений, офиса, сотрудников и склада)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/hookah.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Был сделан сайт
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">По нашей рекомендации был создан youtube канал, а также сообщества в соц. сетях
                                                    </li>
                                                    <li class="b-our-projects__result-list-item"> За пол года сайт вышел в топ по ключевым запросам и без вложений в рекламу стали падать заявки
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">В среднем в день по 4-8 заявок, которые помимо разовых продаж принесли постоянных клиентов
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход в месяц составляет 200-250 тыс. рублей.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">Кальян #1</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">продажа Кальянов и электронных сигарет</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">kalyan1.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb45">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">Клиент работал в продажах электронного оборудования и увлекался курением кальянов. И очень хотел уйти с работы и открыть своё дело. С нишей было всё понятно, оставалось дело за малым: запустить интернет-магазин.</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Был сделан сайт
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">По нашей рекомендации был создан youtube канал, а также сообщества в соц. сетях
                                                    </li>
                                                    <li class="b-our-projects__result-list-item"> За пол года сайт вышел в топ по ключевым запросам и без вложений в рекламу стали падать заявки
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">В среднем в день по 4-8 заявок, которые помимо разовых продаж принесли постоянных клиентов
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход в месяц составляет 200-250 тыс. рублей.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/Bas.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b fxd-c  mb30 pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz14 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">- Выбрана ниша продажи бетона, проанализированы сайты конкурентов
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Найдена компания-партнер для покупки лидов
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Создан сайт для Москвы и обсласти.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Написаны тексты, проработан каталог
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Сайт зарегистрирован в качественных “белых” каталогах
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <div class="title-lev2 fz16 black tal mb45">
                                                    <p class="lh1-65">Перед майскими праздниками мы передали сайт клиенту, к середине мая нашли компанию-партнера на покупку лидов. Конечный клиент доволен сайтом, поступает много хороших заявок от частных клиентов (заливка ленточных фундаментов, покупка блоков ФБС) Чистая прибыль нашего клиента в сезон составляет в среднем 80 тысяч рублей.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">БАС-групп</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">Поставки бетона по Москве и МО</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">beton-mo24.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb30">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">В конце марта этого года нам поступила заявку на создание онлайн-бизнеса. Отличительной особенностью было то, что клиент хотел нечто стабильное и был готов заплатить за это большую цену. Мы поняли, что обычным лендингом дело не обойдется и приступили к разработке полноценного сайта для продажи с него лидов.</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b fxd-c pl24">
                                            <div class="b-our-projects__result-item mb30 w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">- Выбрана ниша продажи бетона, проанализированы сайты конкурентов
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Найдена компания-партнер для покупки лидов
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Создан сайт для Москвы и обсласти.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Написаны тексты, проработан каталог
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">- Сайт зарегистрирован в качественных “белых” каталогах
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <div class="title-lev2 fz16 black tal">
                                                    <p class="lh1-65">Перед майскими праздниками мы передали сайт клиенту, к середине мая нашли компанию-партнера на покупку лидов. Конечный клиент доволен сайтом, поступает много хороших заявок от частных клиентов (заливка ленточных фундаментов, покупка блоков ФБС) Чистая прибыль нашего клиента в сезон составляет в среднем 80 тысяч рублей.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/ultimate-poker.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Просчитали воронку, подобрали поставщиков, разработали сайт, наполнили его, дали рекламу.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">За несколько месяцев вышли на такие показатели: заказ стоит 100-200 рублей, средний чек 1500-2000 рублей.1
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">За месяц оборот составил около 200 000 рублей. Вложения окупились примерно через 4 месяца.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход 130 000 в месяц
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">На данный момент оборот ещё вырос и продолжает расти.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">Ultimate Poker</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">Товары для игры в покер</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">ultimate-poker.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb45">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">Покер — это увлечение клиента. Он любил играть в покер в свободное от работы время, он отлично разбирался в товарах, связанных с этой игрой. В то же время было большое желание уйти с работы и заниматься чем-то, что связано с его хобби.</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Просчитали воронку, подобрали поставщиков, разработали сайт, наполнили его, дали рекламу.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">За несколько месяцев вышли на такие показатели: заказ стоит 100-200 рублей, средний чек 1500-2000 рублей.1
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">За месяц оборот составил около 200 000 рублей. Вложения окупились примерно через 4 месяца.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход 130 000 в месяц
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">На данный момент оборот ещё вырос и продолжает расти.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/skuters.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Разработан уникальный дизайн сайта, также сайт «посадили» на CMS.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">За 4 месяца сайт стал выходить в top10 яндекса по запросам «велосипеды на литых дисках», «купить велосипеды на литых дисках» и т.д.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">С поисковой выдачи в данный момент приходит около 10 заявок в день, из них 5-7 продаж.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход интернет магазина около 300 000 в месяц после полугода работы. Также был осущетсвлён выбор поставщиков.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">Weloleto</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">Велосипеды на литых дисках</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">weloleto.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb45">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">Клиент занимался продажей товаров через одностраничные сайты, но понял что интернет-магазин более стабильный источник дохода. Сам выбрал нишу связанную с велосипедами и гироскутерами, потому как сам товар пользуется спросом и средний чек относительно высокий.</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b pl24">
                                            <div class="b-our-projects__result-item w100">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Разработан уникальный дизайн сайта, также сайт «посадили» на CMS.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">За 4 месяца сайт стал выходить в top10 яндекса по запросам «велосипеды на литых дисках», «купить велосипеды на литых дисках» и т.д.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">С поисковой выдачи в данный момент приходит около 10 заявок в день, из них 5-7 продаж.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Доход интернет магазина около 300 000 в месяц после полугода работы. Также был осущетсвлён выбор поставщиков.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/chickens.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b pl24">
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Разработан одностраничный сайт.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Настроена реклама.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Конверсия: 2.45%
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Цена заявки: 1200 рублей
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Заявок с сайта: 8-10 в день при бюджете 10-15 тыс.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Через несколько месяцев клиент вышел на доход в 300 000 рублей в месяц.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">Ателье «Фабрика кухонь»</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">Производство кухонь</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">fkn1.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb45">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">клиент работал в компании по проектирвоанию и продаже кухонь. Решил уйти с работы и открыть похожий бизнес.</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b pl24">
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Разработан одностраничный сайт.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Настроена реклама.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">Конверсия: 2.45%
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Цена заявки: 1200 рублей
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Заявок с сайта: 8-10 в день при бюджете 10-15 тыс.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Через несколько месяцев клиент вышел на доход в 300 000 рублей в месяц.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-projects__item">
                        <div class="container">
                            <div class="our-projects-content">
                                <div class="container clearfix">
                                    <div class="b-our-project-image left">
                                        <img class="img" src="images/gillet.png" alt="">
                                        <div class="b-our-projects__result hidden fl-grid-b pl24">
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <div class="title-lev2 fz16 black tal mb45">
                                                    <p class="lh1-65">Нишу подбирать не было нужно, так как она была изначально определена. Осталось сделать сайт, наполнить его и настроить рекламу. </p>
                                                </div>
                                            </div>
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">160 р. стоила подтверждённая заявка (работал колл-центр)
                                                    </li>
                                                    <li class="b-our-projects__result-list-item"> В день подтверждённых около 20-ти заявок
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Средний чек 1000 рублей.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Оборот 500-600 тыс. рублей в месяц.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-our-project-info ">
                                        <div class="b-our-project-title p-rel fl-grid-b pl24 mb23">
                                            <div class="title-lev2 black fz16">
                                                <p>Компания <br>
                                                <p class="ffMcyr700">Gillettegud</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Ниша</p>
                                                <p class="ffMcyr700">Бритвенные принадлежности Gillette</p>
                                            </div>
                                            <div class="title-lev2 black fz16">
                                                <p>Сайт</p>
                                                <p class="ffMcyr700">gillettegud.ru</p>
                                            </div>
                                        </div>
                                        <div class="title-lev2 fz16 black tal pl24 mb45">
                                            <p class="ffMcyr700 mb5">Предыстория</p>
                                            <p class="lh1-65">У клиента были завязки с поставщиками Gillette, потому как он изначально их продавал через offline-точку. Со временем упал доход с неё, и он решил начать продавать через интернет.</p>
                                        </div>
                                        <div class="b-our-projects__result fl-grid-b pl24">
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Показатели проекта</p>
                                                <div class="title-lev2 fz16 black tal mb45">
                                                    <p class="lh1-65">Нишу подбирать не было нужно, так как она была изначально определена. Осталось сделать сайт, наполнить его и настроить рекламу. </p>
                                                </div>
                                            </div>
                                            <div class="b-our-projects__result-item">
                                                <p class="title-lev2 ffMcyr700 black mb30 fz18">Наш результат</p>
                                                <ul class="b-our-projects__result-list fz16 lh1-6 ffMcyr300">
                                                    <li class="b-our-projects__result-list-item">160 р. стоила подтверждённая заявка (работал колл-центр)
                                                    </li>
                                                    <li class="b-our-projects__result-list-item"> В день подтверждённых около 20-ти заявок
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Средний чек 1000 рублей.
                                                    </li>
                                                    <li class="b-our-projects__result-list-item">Оборот 500-600 тыс. рублей в месяц.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // END b-main-slider-wrapper -->
        <div class="get-consultation">
            <div class="container clearfix fl-grid-b fl-center">
                <div class="get-consultation-left">
                    <div class="b-page-title white tac">
                        <p class="page-title ttu white fz33 get-consultation-red-line tal">5 ниш <br>
                            для Вашего города</p>
                        <p class="title-lev2 white fz18 tal grey">Получить бесплатную консультацию <br> по рабочим нишам
                            своего города</p>
                    </div>
                </div>
                <div class="get-consultation-right">
                    <form action="#" class="get-consultation-form  mb50 clearfix d-f">
                        <input class="get-consultation-form__inp inputmask-phone dib" type="text" name="phone" id=""
                               placeholder="Ваш номер телефона">
                        <button class="red_btn dib">Отправить <i class=" ml20 r-arrow-icon"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="scheme-of-work">
            <a id="scheme-of-work"></a>
            <div class="container">
                <div class="b-page-title mb70 tac">
                    <p class="page-title ttu mb20 fz46">Схема работы с Вами</p>
                    <p class="title-lev2 fz22">Вы начнете получать прибыль, пройдя с нами 4 этапа</p>
                </div>
                <div class="scheme-of-work__list">
                    <div class="scheme-of-work__item black">
                        <div class="scheme-of-work-icon"><span class="mobile-icon"></span></div>
                        <p class="page-title fz22 ttu">Свяжитесь <br>
                            с нами</p>
                        <div class="tac">
                        <p class="base-text mb32 dib fz16">Оставьте свои
                            контактные данные и мы свяжемся с Вами в ближайшее время.</p>
                        </div>
                        <a href="#" class="green_btn dib popup-trigger call">Связаться! <i class="r-arrow-icon vam ml10"></i></a>
                    </div>

                    <div class="scheme-of-work__item black">
                        <div class="scheme-of-work-icon"><span class="document-icon"></span></div>
                        <p class="page-title fz22 ttu">Подпишите <br>
                            договор</p>
                        <ul class="scheme-of-work__item__list fz16">
                            <li class="base-text pl10 tal ls-pin">Онлайн-консультация</li>
                            <li class="base-text pl10 tal ls-pin">Заключение договора</li>
                            <li class="base-text pl10 tal ls-pin">Оплата услуги</li>
                        </ul>
                    </div>
                    <div class="scheme-of-work__item black">
                        <div class="scheme-of-work-icon"><span class="sand-clock-icon"></span></div>
                        <p class="page-title fz22 ttu">Создание <br>
                            бизнеса</p>
                        <ul class="scheme-of-work__item__list fz16">
                            <li class="base-text pl10 tal ls-pin">Утверждение ниши</li>
                            <li class="base-text pl10 tal ls-pin">Работа над сайтом</li>
                            <li class="base-text pl10 tal ls-pin">Настройка рекламы</li>
                            <li class="base-text pl10 tal ls-pin">Тестирование</li>
                            <li class="base-text pl10 tal ls-pin">Внесение</li>
                        </ul>
                    </div>
                    <div class="scheme-of-work__item lllast ml20 black">
                        <div class="z-i20 p-rel">
                        <div class="scheme-of-work-icon ml00 b-circle"><span class="check-icon"></span></div>
                        <p class="page-title fz22 mb25 ttu white ">Вручение <br>
                            бизнеса</p>
                        <ul class="scheme-of-work__item__list white fz16">
                            <li class="base-text white pl10 tal ls-pin">Передача доступов</li>
                            <li class="base-text white pl10 tal ls-pin">Первая прибыль</li>
                            <li class="base-text white pl10 tal ls-pin">2 месяца обучения</li>
                            <li class="base-text white pl10 tal ls-pin">Еженедельные вебинары</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content__contacts clearfix">
            <div class="content__contacts-inner">
            <a id="contacts"></a>
            <div class="b-person left">
                <div class="person mb20">
                    <img class="img" src="images/person-photo@2x.png" alt="">
                </div>
                <div class="fl-baseline jk-c">
                    <p class="title-lev2 ffMcyr700 mr20 dib  black fz18">— Денис Жирков</p>
                    <p class="label dib ttu fz14">Специалист по продаже услуги <br> «бизнес под ключ»</p>
                </div>
            </div>
            <div class="content__contacts__info right">
                <div class="container">
                <div class="b-page-title mb62 tac">
                    <p class="page-title ttu tal mb25 black fz46">Остались вопросы?</p>
                    <p class="title-lev2 tal fz18">Запишитесь на бесплатную онлайн-консультацию</p>
                </div>
                    <form class="fill-form" action="#">
                        <div class="fl-grid-b mb40">
                            <input class=" fill-form__inp mr15" type="text" name="name" id="" placeholder="Ваше имя">
                            <input class=" fill-form__inp inputmask-phone" type="text" name="phone" id=""
                                   placeholder="Ваш номер телефона">
                        </div>
                        <div class="tal">
                            <button class="red_btn w195">Отправить <i class=" ml20 r-arrow-icon"></i></button>
                        </div>
                    </form>
                 </div>
            </div>
            </div>
        </div>
        <div class="our-clients">
            <div class="container fl-grid-b fl-center">
                <div class="b-page-title">
                    <p class="page-title ttu tal fz46 mb94">Наши клиенты</p>
                    <p class="title-lev2 tal fz18 ">Мы открыты для любых предложений и <br> выстраиваем долгосрочные и
                        взаимовыгодные <br> отношения с текущими партнёрами. </p>
                </div>
                <!-- BEGIN b-main-slider-wrapper -->
                <div class="b-main-slider-wrapper  b-our-clients-right">
                    <div class="slider clients-slider owl-carousel tac">
                        <div class="b-our-clients-list right inline-grid">
                            <div class="b-our-clients-item"><i class="fire-station-icon"></i></div>
                            <div class="b-our-clients-item"><i class="cav-icon"></i></div>
                            <div class="b-our-clients-item"><i class="eco-homme-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-market-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pet-simple-icon"></i></div>
                            <div class="b-our-clients-item"><i class="signal-expert-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-store-icon"></i></div>
                            <div class="b-our-clients-item"><i class="love-korea-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pro-copters-icon"></i></div>
                        </div>
                        <div class="b-our-clients-list right inline-grid">
                            <div class="b-our-clients-item"><i class="prooptics-icon"></i></div>
                            <div class="b-our-clients-item"><i class="my-kidds-icon"></i></div>
                            <div class="b-our-clients-item"><i class="samokat-rf-icon"></i></div>
                            <div class="b-our-clients-item"><i class="made-clim-icon"></i></div>
                            <div class="b-our-clients-item"><i class="tea-icon"></i></div>
                        </div>
                        <div class="b-our-clients-list right inline-grid">
                            <div class="b-our-clients-item"><i class="fire-station-icon"></i></div>
                            <div class="b-our-clients-item"><i class="cav-icon"></i></div>
                            <div class="b-our-clients-item"><i class="eco-homme-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-market-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pet-simple-icon"></i></div>
                            <div class="b-our-clients-item"><i class="signal-expert-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-store-icon"></i></div>
                            <div class="b-our-clients-item"><i class="love-korea-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pro-copters-icon"></i></div>
                        </div>
                        <div class="b-our-clients-list right inline-grid">
                            <div class="b-our-clients-item"><i class="fire-station-icon"></i></div>
                            <div class="b-our-clients-item"><i class="cav-icon"></i></div>
                            <div class="b-our-clients-item"><i class="eco-homme-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-market-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pet-simple-icon"></i></div>
                            <div class="b-our-clients-item"><i class="signal-expert-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-store-icon"></i></div>
                            <div class="b-our-clients-item"><i class="love-korea-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pro-copters-icon"></i></div>
                        </div>
                        <div class="b-our-clients-list right inline-grid">
                            <div class="b-our-clients-item"><i class="fire-station-icon"></i></div>
                            <div class="b-our-clients-item"><i class="cav-icon"></i></div>
                            <div class="b-our-clients-item"><i class="eco-homme-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-market-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pet-simple-icon"></i></div>
                            <div class="b-our-clients-item"><i class="signal-expert-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-store-icon"></i></div>
                            <div class="b-our-clients-item"><i class="love-korea-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pro-copters-icon"></i></div>
                        </div>
                        <div class="b-our-clients-list right inline-grid">
                            <div class="b-our-clients-item"><i class="fire-station-icon"></i></div>
                            <div class="b-our-clients-item"><i class="cav-icon"></i></div>
                            <div class="b-our-clients-item"><i class="eco-homme-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-market-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pet-simple-icon"></i></div>
                            <div class="b-our-clients-item"><i class="signal-expert-icon"></i></div>
                            <div class="b-our-clients-item"><i class="malutka-store-icon"></i></div>
                            <div class="b-our-clients-item"><i class="love-korea-icon"></i></div>
                            <div class="b-our-clients-item"><i class="pro-copters-icon"></i></div>
                        </div>
                    </div>
                </div>
                <!-- // END b-main-slider-wrapper -->
            </div>
        </div>
        <div class="map">
            <div id="land-map"></div>
        </div>
    </div>
    <nav class="sliding-panel">
        <span class="sliding-panel__close"></span>
        <ul class="sliding-panel-list">
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#cost-of">Стоимость</a>
            </li>
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#our-projects">Кейсы</a>
            </li>
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#scheme-of-work">Схема работы</a>
            </li>
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#contacts">Контакты</a>
            </li>
        </ul>
            <div class="fl-grid-a fx-w hidden w300">
                <div class="work-hours  mt20 mb30">
                    <p>Часы работы <br>
                        10:00 – 19:00</p>
                </div>
                <a href="tel:+74956646607" class=" mb30 tdn header-phone no-hover">
                    +7 (495) 664-66-07
                </a>
                <a href="#" class="green_btn-header popup-trigger spc mb30 "><i class=" phone-icon vam mr10"></i>Заказать звонок</a>
            </div>

    </nav>
{% endblock %}