<footer>
    <div class="container">
            <div class="footer-item line">
                <div class="header-logo-blue dib vam mr20"></div>
                <p class="base-text fz17 white ffR-m vam dib">Marketing <br>Sales<br>Consulting</p>
                <p class="footer-label m-auto tdn mr105">© Marketing Sales Consalting 2011-2016</p>

            </div>
            <div class="footer-item">
                <i class="marker-icon vat mr20 vam"></i>
                <p class="title-lev2 dib vam lh28 fz18 white">Москва, <br>
                    улица Серпуховский Вал, 7 </p>
                <a href="#" class="footer-label fi-bb tdn top99per">Политика конфиденциальности</a>
            </div>

            <div class="footer-content">
                <a href="tel:74956646607" class="title-lev2 tdn lh28  fz18 white no-hover ">+7 (495) 664-66-07 <br></a>
                <a href="mailto:info@bz-podkluch.ru" class="title-lev2  fz18 tdn lh28  no-hover white">info@bz-podkluch.ru</a>
            </div>
                <a href="#" class="footer_btn popup-trigger call">Заказать звонок <i class="r-arrow-icon vam ml10"></i></a>

    </div>



</footer>