<header class="header">
    <div class="header-logo-wrapper d-f a-ic">

        <div class="header-logo dib mr20"></div>
        <p class="base-text fz15 white ffR-m dib">Marketing <br>Sales<br>Consulting</p>

    </div>
    <nav class="header-nav">
            <div class="header-nav-listing ">
                <a href="#cost-of" class="js-scrollScreen header-nav__item">Стоимость</a>
                <a href="#our-projects" class="js-scrollScreen header-nav__item">кейсы</a>
                <a href="#scheme-of-work" class="js-scrollScreen header-nav__item">Схема&nbspработы</a>
                <a href="#contacts" class="js-scrollScreen header-nav__item">Контакты</a>
            </div>
    </nav>

    <div class="header-nav__right">
    <div class="work-hours-wrapper mt20">
        <div class="work-hours ffHel-r ">
            <p>Часы работы <br>
                10:00 – 19:00</p>
        </div>
    </div>
    <div class="header-phone-wrapper">
    <a href="tel:+74956646607" class="tdn header-phone no-hover">
        +7&nbsp(495)&nbsp664-66-07</a>
    </div>
    <a href="#" class="green_btn-header popup-trigger call"><i class="phone-icon vam mr10"></i>Заказать звонок</a>
    </div>
    <div class="burger">
        <div class="burger__stripe st-1"></div>
        <div class="burger__stripe st-2"></div>
        <div class="burger__stripe st-3"></div>
    </div>

</header>